# INSTRUCTIONS
# MIN HOUR DAYMONTH MONTH DAYWEEK

# ARTICLES
0 19 6 * * PYTHONPATH=$HOME/bin python $HOME/bin/deletedfilesinarticles.py > /dev/null
50 2 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/bullshitparams.py > /dev/null
12 0 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/linkedemailsinarticles.py > /dev/null
0 12 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/userlinksinarticles.py > /dev/null
#0 12 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/coordoverlap.py > /dev/null
0 12 6 * * PYTHONPATH=$HOME/bin python $HOME/bin/redlinkedfilesinarticles.py > /dev/null
0 19 15 * * PYTHONPATH=$HOME/bin python $HOME/bin/tickersinleads.py > /dev/null
30 21 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/linkedmisspellings.py > /dev/null
30 19 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/unbelievablelifespans.py > /dev/null

# BIOGRAPHIES OF DEAD PEOPLE
30 0 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/potenshbdps1.py > /dev/null
35 0 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/potenshbdps2.py > /dev/null
40 0 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/potenshbdps3.py > /dev/null

# BIOGRAPHIES OF LIVING PEOPLE
0 2 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/unsourcedblps.py > /dev/null
0 3 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/stickyprodblps.py > /dev/null
45 0 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/potenshblps1.py > /dev/null
50 0 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/potenshblps2.py > /dev/null
55 0 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/potenshblps3.py > /dev/null
10 1 * * 5 PYTHONPATH=$HOME/bin nice -n 15 python $HOME/bin/potenshblps4.py > /dev/null
0 1 * * * PYTHONPATH=$HOME/bin python $HOME/bin/shortestbios.py > /dev/null
15 8 * * 2 PYTHONPATH=$HOME/bin python $HOME/bin/uncatunrefblps.py > /dev/null
20 8 * * 2 PYTHONPATH=$HOME/bin python $HOME/bin/untaggedunrefblps.py > /dev/null
20 8 * * 2 PYTHONPATH=$HOME/bin python $HOME/bin/untaggedblps.py > /dev/null

# BLOCKS
0 0 * * 2 PYTHONPATH=$HOME/bin python $HOME/bin/indefips.py > /dev/null
5 0 * * 2 PYTHONPATH=$HOME/bin python $HOME/bin/rangeblocks.py > /dev/null
0 12 8 * * PYTHONPATH=$HOME/bin python $HOME/bin/excessiveips.py > /dev/null
5 12 8 * * PYTHONPATH=$HOME/bin python $HOME/bin/excessiveusers.py > /dev/null

# CATEGORIES
0 1 * * 0 PYTHONPATH=$HOME/bin python $HOME/bin/redlinkedcatsincats.py > /dev/null
0 12 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/deletedredlinkedcats.py > /dev/null
0 1 * * * PYTHONPATH=$HOME/bin python $HOME/bin/emptycats.py > /dev/null
0 2 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/pollcats.py > /dev/null
0 22 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/linkedredlinkedcats.py > /dev/null
0 6 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/selfcatcats.py > /dev/null
0 2 * * 2 PYTHONPATH=$HOME/bin python $HOME/bin/polltemps.py > /dev/null
0 0 * * 1 PYTHONPATH=$HOME/bin python $HOME/bin/uncatcats.py > /dev/null
0 0 2 * * PYTHONPATH=$HOME/bin python $HOME/bin/usercats.py > /dev/null

# FILES
10 10 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/templatelessfilepages.py > /dev/null
40 10 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/catandtemplessfilepages.py > /dev/null
20 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/filelessfilepages.py > /dev/null
20 13 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/conflictedfiles.py > /dev/null
20 15 * * * PYTHONPATH=$HOME/bin python $HOME/bin/dupefilenames.py > /dev/null
20 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/largenonfree.py > /dev/null
0 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/mistaggedfiles.py > /dev/null
20 18 * * * PYTHONPATH=$HOME/bin python $HOME/bin/nonfreemissingrat.py > /dev/null
5 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/templatesnonfree.py > /dev/null
10 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/pageslotnonfree.py > /dev/null
15 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/overusednonfree.py > /dev/null
0 3 * * * PYTHONPATH=$HOME/bin python $HOME/bin/unusednonfree.py > /dev/null

# PAGES
0 18 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/blankpages.py > /dev/null
0 18 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/longpages.py > /dev/null
5 18 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/olddeletiondiscussions.py > /dev/null
0 17 12 * * PYTHONPATH=$HOME/bin python $HOME/bin/orphanedafds.py > /dev/null
0 18 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/orphanedprojs.py > /dev/null
0 6 * * 1,5 PYTHONPATH=$HOME/bin python $HOME/bin/orphanedtalks.py > /dev/null
0 6 * * 1 PYTHONPATH=$HOME/bin python $HOME/bin/orphanedsubtalks.py > /dev/null
0 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/ownerlessuserpages.py > /dev/null
10 18 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/shortpages.py > /dev/null
0 12 10 * * PYTHONPATH=$HOME/bin python $HOME/bin/redlinkedfilesintemplates.py > /dev/null

# PROTECTIONS
5 12 7 * * PYTHONPATH=$HOME/bin python $HOME/bin/excessivefullarticles.py > /dev/null
35 0 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/indeffullarticles.py > /dev/null
45 0 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/indeffulltalks.py > /dev/null
6 12 7 * * PYTHONPATH=$HOME/bin python $HOME/bin/protlowtemps.py > /dev/null
30 0 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/indefsemiarticles.py > /dev/null
40 0 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/indefsemitalks.py > /dev/null
0 12 7 * * PYTHONPATH=$HOME/bin python $HOME/bin/excessivesemiarticles.py > /dev/null

# REDIRECTS
30 23 * * * PYTHONPATH=$HOME/bin python $HOME/bin/brokenredirects.py > /dev/null
45 9 * * * PYTHONPATH=$HOME/bin:$HOME/lib/python2.7/site-packages python $HOME/bin/brokensectionanchors.py > /dev/null
30 0 1 * * PYTHONPATH=$HOME/bin python $HOME/bin/crossredirects.py > /dev/null
30 12 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/redreds.py > /dev/null
30 18 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/longredirects.py > /dev/null

# STATISTICS
0 12 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/mostwatched.py > /dev/null
0 14 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/mostwatchedperns.py > /dev/null
0 16 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/mostwatchedusers.py > /dev/null
15 0 * * * PYTHONPATH=$HOME/bin python $HOME/bin/nscounts.py > /dev/null
0 5 28 * * PYTHONPATH=$HOME/bin python $HOME/bin/mostrevisions.py > /dev/null
10 5 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/reviewercandidates.py > /dev/null
0 22 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/userprefs.py > /dev/null
0 13 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/usersbyupload.py > /dev/null
20 0 * * * PYTHONPATH=$HOME/bin python $HOME/bin/logactions.py > /dev/null
25 0 * * * PYTHONPATH=$HOME/bin python $HOME/bin/wikilovestats.py > /dev/null

# STUBS
0 10 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/dubiousstubcats.py > /dev/null
0 15 * * 5 PYTHONPATH=$HOME/bin python $HOME/bin/longstubs.py > /dev/null
0 7 13 * * PYTHONPATH=$HOME/bin python $HOME/bin/directstubs.py > /dev/null
0 13 * * 6 PYTHONPATH=$HOME/bin python $HOME/bin/untaggedstubs.py > /dev/null
0 16 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/unusedstubtemplates.py > /dev/null

# TEMPLATES
15 20 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/brokenwikiprojtemps.py > /dev/null
0 12 15 * * PYTHONPATH=$HOME/bin python $HOME/bin/epontemps.py > /dev/null
5 20 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/templatedisambigs.py > /dev/null
0 15 8,22 * * PYTHONPATH=$HOME/bin python $HOME/bin/mosttransclusions.py > /dev/null
25 15 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/deletedtrans.py > /dev/null
20 15 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/transusertemps.py > /dev/null
5 15 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/uncattemps.py > /dev/null
35 15 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/unprotectedtemps.py > /dev/null
0 15 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/unusedtemplates.py > /dev/null
10 15 * * 4 PYTHONPATH=$HOME/bin python $HOME/bin/usertempreds.py > /dev/null

# USERS
0 1 * * 1,4 PYTHONPATH=$HOME/bin python $HOME/bin/confirmedusers.py > /dev/null
45 15 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/blankanontalks.py > /dev/null
0 15 6,20 * * PYTHONPATH=$HOME/bin python $HOME/bin/blockeduserrights.py > /dev/null
0 15 6,20 * * PYTHONPATH=$HOME/bin python $HOME/bin/inactiveuserrights.py > /dev/null
30 0 * * 2 PYTHONPATH=$HOME/bin python $HOME/bin/metarightschanges.py > /dev/null
55 15 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/oldiptalks.py > /dev/null
30 15 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/anononlyanons.py > /dev/null
0 15 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/noactionuserpages.py > /dev/null
0 15 * * 3 PYTHONPATH=$HOME/bin python $HOME/bin/noactionusertalks.py > /dev/null
