# Wiki login details
username = ''
password = ''
apiurl = ''

# Toolserver details
host = ''
dbname = ''
path = ''

# Report details (generic)
rootpage = ''
editsumm = ''

# Report details (multi-page)
blankcontent = ''
blanksumm = ''
